.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
    pointer-events: none;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.dropdown-item, .nav-link {
    cursor: pointer;
}

.navbar-nav-login {
    margin-right: 50px
}

/* Start DataTable */
table thead tr th span {
    cursor: pointer;
}

/* End DataTable */


/* Start Radio */
.radiobutton input[type=radio] {
    position: absolute;
    top: -99999px;
    opacity: 0;
}

.radiobutton input[type=radio] + label {
    padding-left: 20px;
    position: relative;
    cursor: pointer;
}

.radiobutton input[type=radio] + label::before {
    content: '';
    display: block;
    position: absolute;
    width: 15px;
    height: 15px;
    left: 0;
    top: 0;
    border: 1px solid #999;
    /* background-color: #ddd; */
    border-radius: 50%;
    /* box-shadow: inset 1px 1px 2px 0 rgba(0, 0, 0, 0.3); */
}

.radiobutton input[type=radio]:checked + label::after {
    content: '';
    display: block;
    position: absolute;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: #333;
    left: 3px;
    top: 3px;
}

/* End radio */

/* Start Pagination */
nav ul.pagination li span {
    font-size: 13px;
    width: 40px;
    height: 30px;
    background-color: transparent;
    color: #222;
    border: 1px solid rgba(0, 0, 0, .05);
    display: inline-block;
    vertical-align: middle;
    line-height: 28px;
    text-decoration: none;
    margin: 2px;
    transition: all 0.2s linear;
    cursor: pointer;
}

.pagination li span:hover, .pagination li.active span {
    color: #fff;
    background-color: #3498db;
}

nav ul.pagination li.disabled span {
    color: #c2caca;
    cursor: default;
}

.pagination li.disabled span:hover {
    background: none;
}

/* End Pagination */

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.floatBlock {
    margin: 0 2em 0 0;
    border-radius: 5px;
    padding: 5px 10px 0px 10px;
}

.activeCheckbox {
    background-color: #e4e4e4;
}

.radioOptions {
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 2px;
}

.data-filter {
    margin-bottom: 20px;
}

.data-filter table tbody tr td.title {
    width: 20%;
    line-height: 35px;
    background-color: #2a2525;
    color: #fff;
}

.data-filter table tbody tr td.title-second {
    width: 51%;
    line-height: 35px;
    text-align: left;
}

.data-filter table tbody tr td.title-third {
    width: 58%;
    line-height: 35px;
    text-align: left;
}

.slash {
    margin: 0px 10px;
}

table.svg-inline--fa {
    color: #fff;
}

.table-responsive table thead tr th {
    background-color: #292424;
    color: #fff;
    border: 1px solid #fff !important;
    text-align: center;
}

.buttonWhite {
    height: 36px;
    border-radius: 5px;
    padding: 0px 10px;
    border: 1px solid #6f5b5bcf;
}

.buttonBlack {
    height: 36px;
    border-radius: 5px;
    padding: 0px 10px;
    background-color: #272721;
    color: #fff;
}

.buttonGray {
    height: 36px;
    border-radius: 5px;
    padding: 0px 10px;
    background-color: #272721;
    color: #fff;
}

.col-form-label {
    padding-top: calc(.375rem + 1px);
    padding-bottom: calc(.375rem + 1px);
    margin-bottom: 0;
    font-size: inherit;
    line-height: 1.5;
    text-align: left;
}

.header-seperation a {
    font-size: 3em;
    color: #fff;
}

canvas {
    top: 0;
    left: 0;
}

.custom-select option {
    font-size: 13px;
}

.rankIcon {
    width: 30px;
}

.penIcon, .menuIcon {
    width: 20px;
}

.logo-gugu {
    width: 140px;
    margin: 0px 14px;
}

ul li.nav-item span.title {
    margin-left: 10px;
}

.btn-login {
    margin-top: 50px;
    justify-content: center;
}

.wapper-login {
    border: 1px solid #6db9bd;
    padding: 50px 0 0 0;
    border-radius: 50px;
    margin-top: 30px;
    width: 500px;
}

/* .second-datetime{
  position: absolute;
  width: 456px;
  border: 0px !important;
  left: 160px;
} */
.error-login {
    font-size: 16px;
    color: #f35958;
    display: block;
}

/* @media only screen and (min-width: 1400px) {
  .react-datepicker-wrapper, .slash {
    display: inline-block;
    position: relative;
    left: -32px;
  }  
}

@media only screen and (max-width: 1280px) and (min-width: 1400px)  {
  .react-datepicker-wrapper, .slash {
    display: inline-block;
    position: relative;
    left: -10px;
  }  
} */
